.descricao-destaque{
    font-style: italic;
}

.nome-tanjiro {
    color: #508D4E;
    text-shadow: 1px 1px 2px #508D4E;
}

.tanjiro {
    color: #982B1C;
}

.nome-nezuko {
    color: #A02334;
    text-shadow: 2px 2px 4px #A02334;
}

.nezuko {
    color: #E3A5C7;
}

.nome-giyu {
    color: #973131;
    text-shadow: 2px 2px 4px #973131;
}

.giyu {
    color: #FFDC7F;
}

.nome-zenitsu {
    color: #ffee00;
    text-shadow: 2px 2px 4px #ffee00;
}

.zenitsu {
    color: #ff7f00;
}

.nome-inosuke {
    color: #7FA1C3;
    text-shadow: 2px 2px 4px #7FA1C3;
}

.inosuke {
    color: #B99470;
}

.nome-urokodaki {
    color: #800000;
    text-shadow: 2px 2px 4px #800000;
}

.urokodaki {
    color: #7C93C3;
}

.nome-kanao {
    color: white;
    text-shadow: 2px 2px 4px white;
}

.kanao {
    color: #674188;
}

.nome-tamayo {
    color: #C68FE6;
    text-shadow: 2px 2px 4px #C68FE6;
}

.tamayo {
    color: #800000;
}

.nome-yushiro {
    color: #A2CA71;
    text-shadow: 2px 2px 4px #A2CA71;
}

.yushiro {
    color: #FFFBE6;
}

.muzan {
    color: #820300;
}

.nome-shinobu {
    color: #F3D0D7;
    text-shadow: 2px 2px 4px #F3D0D7;
}

.shinobu {
    color: #180161;
}

.nome-mitsuri {
    color: #FFA1F5;
    text-shadow: 2px 2px 4px #FFA1F5;
}

.mitsuri {
    color: #AACB73;
}

.nome-rengoku {
    color: #ffbf00;
    text-shadow: 2px 2px 4px #ffbf00;
}

.rengoku {
    color: #ff0000;
}

.nome-uzui {
    color: #D8A25E;
    text-shadow: 2px 2px 4px #D8A25E;
}

.uzui {
    color: #821131;
}

.nome-gyomei {
    color: #F5F7F8;
    text-shadow: 2px 2px 4px #F5F7F8;
}

.gyomei {
    color: #557C56;
}

.nome-obanai {
    color: #F5F7F8;
    text-shadow: 2px 2px 4px #F5F7F8;
}

.obanai {
    color: #3d444e;
}

.tokito {
    color: #A1D6B2;
}

.nome-kagaya {
    color: #982176;
    text-shadow: 2px 2px 4px #982176;
}

.kagaya {
    color: #C63C51;
}

.nome-genya {
    color: #522258;
    text-shadow: 2px 2px 4px #522258;
}

.genya {
    color: #3d444e;
}

.nome-hotaru {
    color: #B99470;
    text-shadow: 2px 2px 4px #B99470;
}

.hotaru {
    color: #654520;
}

.nome-daki {
    color: #557C56;
    text-shadow: 2px 2px 4px #557C56;
}

.daki {
    color: #8E3E63;
}

.nome-gyokko {
    color: #3A1078;
    text-shadow: 2px 2px 4px #3A1078;
}

.gyokko {
    color: whea
}

.hatengu {
    color: #820300;
}

.nome-akaza {
    color: #D6589F;
    text-shadow: 2px 2px 4px #D6589F;
}

.akaza {
    color: #B5AEF0;
}

.nome-doma {
    color: #F0EBE3;
    text-shadow: 2px 2px 4px #F0EBE3;
}

.doma {
    color: #800000;
}

.nome-kokushibo {
    color: #820300;
    text-shadow: 2px 2px 4px #820300;
}

.kokushibo {
    color: purple;
}

.bordas-restantes{
    color: #3d444e;
    text-shadow: 2px 2px 4px #3d444e;
}